.color-white {
  color: white !important; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  background-color: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: black;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px; }

::-webkit-scrollbar-thumb:hover {
  background-color: white;
  cursor: grab; }

::-webkit-scrollbar-corner {
  background-color: rgba(255, 255, 255, 0.2); }

.bnw {
  filter: grayscale(1); }

.relative-box, .section-title h2, #aboutme, #myskills {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left; }
  .relative-box:after, .section-title h2:after, #aboutme:after, #myskills:after {
    content: '';
    clear: both; }

section {
  min-height: 100vh !important;
  padding-top: 50px;
  padding-bottom: 50px; }

.section-title {
  margin: 40px 0px; }
  .section-title h2 {
    margin: 0;
    font-family: "Spectral SC", serif;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    z-index: 1; }
    .section-title h2:after {
      content: attr(sec-title);
      font-size: 1.3em;
      color: rgba(0, 0, 0, 0.05);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1; }

.oz-0 {
  opacity: 0 !important;
  z-index: 0 !important; }

.full-overlay, #mywork .light-off-overlay, #mywork .switch-on-off-button .switch-on-shadow, #mywork .project-thumb .project-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding-right: 0px !important; }

#banner {
  background: #222;
  height: 100vh;
  width: 100%;
  display: table; }
  #banner .banner-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    #banner .banner-inner h1 {
      cursor: pointer;
      margin: 0;
      font-weight: 600;
      font-size: 4em; }
      #banner .banner-inner h1 span {
        display: inline-block;
        color: #ed015c; }
        #banner .banner-inner h1 span:hover {
          color: #18ffff; }

#aboutme {
  background: url(../img/aboutbg2.jpeg);
  background-size: cover;
  min-height: 100vh;
  width: 100%; }
  #aboutme .about-img img {
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px rgba(51, 51, 51, 0.2); }

#mywork {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url(../img/projectbg.jpeg);
  background-size: cover; }
  #mywork .light-on-bulb,
  #mywork .light-off-bulb {
    position: absolute;
    top: 0;
    right: 100px; }
    #mywork .light-on-bulb .bulb-off-overlay,
    #mywork .light-off-bulb .bulb-off-overlay {
      width: 100%;
      height: 100px;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0; }
  #mywork .light-off-overlay {
    background: #000000;
    z-index: 1;
    opacity: 1;
    transition: all 1s; }
  #mywork .switch-color, #mywork .switch-on-off-button {
    position: absolute;
    top: 30px;
    right: 250px;
    text-align: center;
    width: 100px;
    padding: 5px 10px;
    z-index: 2;
    border-radius: 10px;
    cursor: pointer; }
  #mywork .switch-on-off-button {
    background: #5bf15b; }
    #mywork .switch-on-off-button p {
      margin: 0; }
    #mywork .switch-on-off-button .switch-on-shadow {
      top: 7px;
      background: #5bf15b;
      opacity: 0.8;
      z-index: -1;
      border-radius: 10px; }
  #mywork .switch-color-red {
    background: #ea5f46 !important; }
  #mywork .project-thumb {
    height: 180px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    border: 10px solid black;
    box-shadow: 0px 2px 6px 0px rgba(51, 51, 51, 0.6);
    transition: all 0.3s; }
    #mywork .project-thumb img {
      transition: all 0.3s ease-in; }
    #mywork .project-thumb .project-overlay {
      opacity: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.8);
      transition: all 0.3s ease; }
      #mywork .project-thumb .project-overlay i {
        color: white;
        margin-top: -15px;
        opacity: 0;
        font-size: 2.5em;
        transition: all 0.5s; }
    #mywork .project-thumb:hover {
      box-shadow: 3px 18px 20px -10px rgba(51, 51, 51, 0.5); }
    #mywork .project-thumb:hover .project-overlay {
      opacity: 1; }
    #mywork .project-thumb:hover i {
      margin-top: 58px;
      opacity: 1; }

#myskills {
  background: url(../img/blackbg.gif) repeat;
  transition: all 0.5s linear; }
  #myskills .skill-overlay-bg {
    transition: all 0.5s linear; }
  #myskills .skill-box-out {
    cursor: pointer; }
    #myskills .skill-box-out .skill-box img {
      transition: all 0.7s linear; }
    #myskills .skill-box-out .skill-box .invert-transform {
      transform: rotateY(360deg) scale(1.5);
      filter: invert(100%); }

.project-modal .modal .modal-content {
  border: none;
  overflow: hidden; }
  .project-modal .modal .modal-content .modal-title {
    font-weight: bold; }
  .project-modal .modal .modal-content .modal-body {
    height: calc(100vh - 183px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0; }
    .project-modal .modal .modal-content .modal-body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5; }
    .project-modal .modal .modal-content .modal-body::-webkit-scrollbar {
      width: 2px;
      background-color: #ed015c; }
    .project-modal .modal .modal-content .modal-body::-webkit-scrollbar-thumb {
      background-color: #ed015c; }
  .project-modal .modal .modal-content .modal-footer {
    padding: 0;
    border: 0;
    margin: 0; }
    .project-modal .modal .modal-content .modal-footer .mod-foot-elem a {
      text-decoration: none;
      color: #333; }
    .project-modal .modal .modal-content .modal-footer .mod-foot-elem:hover {
      background: #ed015c; }

.modal-backdrop {
  background-color: transparent; }

/*# sourceMappingURL=style.css.map */
