@import '_global';
body {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 1.6;
    padding-right: 0px!important;
}

#banner {
    background: #fff;
    height: 100vh;
    width: 100%;
    display: table;
    .banner-inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        h1 {
            cursor: pointer;
            margin: 0;
            font-weight: 600;
            font-size: 5em;
            span {
                display: inline-block;
                color: $primary-color;
                text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
                //                transition: all 0.3s linear;
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

#aboutme {
    background: url(../img/aboutbg2.jpeg);
    background-size: cover;
    @extend .relative-box;
    min-height: 100vh;
    width: 100%;
    //    background: white;
    .about-img {
        img {
            border-radius: 5px;
            box-shadow: 5px 5px 15px 5px rgba(51, 51, 51, 0.2);
        }
    }
}

#mywork {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../img/projectbg.jpeg);
    background-size: cover;
    .light-on-bulb,
    .light-off-bulb {
        position: absolute;
        top: 0;
        right: 100px;
        .bulb-off-overlay {
            width: 100%;
            height: 100px;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: 0;
        }
    }
    .light-off-overlay {
        @extend .full-overlay;
        background: #000000;
        z-index: 1;
        opacity: 1;
        transition: all 1s;
    }
    .switch-color {
        position: absolute;
        top: 30px;
        right: 250px;
        text-align: center;
        width: 100px;
        padding: 5px 10px;
        z-index: 2;
        border-radius: 10px;
        cursor: pointer;
    }
    .switch-on-off-button {
        @extend .switch-color;
        background: $switch-green;
        p {
            margin: 0;
        }
        .switch-on-shadow {
            @extend .full-overlay;
            top: 7px;
            background: $switch-green;
            opacity: 0.8;
            z-index: -1;
            border-radius: 10px;
        }
    }
    .switch-color-red {
        background: $switch-red!important;
    }
    .project-thumb {
        height: 180px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        border: 10px solid black;
        box-shadow: 0px 2px 6px 0px rgba(51, 51, 51, 0.6);
        transition: all 0.3s;
        img {
            transition: all 0.3s ease-in;
        }
        .project-overlay {
            opacity: 0;
            @extend .full-overlay;
            text-align: center;
            background: rgba(0, 0, 0, 0.8);
            transition: all 0.3s ease;
            i {
                color: white;
                margin-top: -15px;
                opacity: 0;
                font-size: 2.5em;
                transition: all 0.5s;
            }
        }
        &:hover {
            box-shadow: 3px 18px 20px -10px rgba(51, 51, 51, 0.5);
        }
        &:hover .project-overlay {
            opacity: 1;
        }
        &:hover i {
            margin-top: 58px;
            opacity: 1;
        }
    }
}

#myskills {
    @extend .relative-box;
    background: url(../img/blackbg.gif)repeat;
    transition: all 0.5s linear;
    .skill-overlay-bg {
        transition: all 0.5s linear;
    }
    .skill-box-out {
        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;
        .skill-box {
            img {
                transition: all 0.5s linear;
            }
            .invert-transform {
                //                transform: rotateY(360deg) scale(1.5);
                transform: translateX(-20px);
//                filter: invert(100%);
            }
        }
    }
}

.project-modal {
    .modal {
        .modal-content {
            border: none;
            overflow: hidden;
            .modal-title {
                font-weight: bold;
            }
            .modal-body {
                height: calc(100vh - 183px);
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 0;
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar {
                    width: 2px;
                    background-color: $primary-color;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $primary-color;
                    ;
                }
            }
            .modal-footer {
                padding: 0;
                border: 0;
                margin: 0;
                .mod-foot-elem {
                    a {
                        text-decoration: none;
                        color: #333;
                    }
                    &:hover {
                        background: $primary-color;
                    }
                }
            }
        }
    }
}

.modal-backdrop {
    background-color: transparent;
}